.footer {
   display: grid;
   padding-top: 2rem;
   padding-right: 1rem;
   padding-left: 1rem;
   grid-template-areas: 
     'content followUs contactUs'
     'copyRight copyRight copyRight'
   ;
   grid-template-rows: auto 3rem;
   grid-template-columns: 12fr 2fr minmax(7rem, 1fr);
   gap: 1em;
   overflow: hidden;
}

.hrFooterLine {
   margin: 25px auto 30px;
   padding: 0;
   width: 100%;
   border: 0;
   border-top: solid 2px;
   border-color: #3e3f97;
   opacity: 1;
   border-radius: 0.2rem;
}

.content {
   grid-area: content;
}

.followUs {
   grid-area: followUs;
}

.contactUs {
   grid-area: contactUs;
}

.iconsArea {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.icon {
   display: block;
   width: 2rem;
   height: 2rem;
   padding-right: 0.5rem;
}

.copyRight {
   grid-area: copyRight;
   height: 4rem;
   opacity: 0.6;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}