.image {
   width: 100%;
   height: 24rem;
   object-fit: cover;
   object-position: center;
   border-radius: 2%;
   margin-bottom: 0;
   padding-bottom: 0;
}

.info {
   padding: 0 1.2rem;
}

.category {
   color: white;
   opacity: 0.4;
   margin-bottom: 0.2rem;
}

.name {
   color: white;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
}

.description {
   color: white;
   opacity: 0.6;
   font-size: 1rem;
   margin-bottom: 1rem;
   text-indent: 2rem;
   text-align: justify;
}

.wrap {
   display: flex;
   flex-direction: column;
}

.price {
   font-size: 1.5rem;
}
