@import "tailwindcss" source(none);
@source "./pages";
@source "./components";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #6366F2;
}

html,
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #111828;
  color: white;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

