.cartSummary {
   cursor: pointer;
 }
 
 .cartText {
   font-size: 0.8rem;
   opacity: 0.6;
   margin-top: -4px;
 }

 .icon {
  width: 1.7rem;
  height: 1.7rem;
 }

 @media (min-width: 768px) {
   .icon {
    width: 2rem;
    height: 2rem;
   }
 }

