/* nav bar */
.navBar {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.drawer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navItem {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.25s linear;
}

.navItem:hover {
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 30px white;
  transition: all 0.2s ease-in;
}

.navItemActive {
  composes: navItem;
  opacity: 1;
}

@media (min-width: 768px) {
  .navBar {
    display: flex;
  }
  .drawer {
    display: none;
  }

  .navItem {
    color: white;
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
  .navItem:hover {
    color: white;
  }
}

