.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr 6rem;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}

.header {
  grid-area: header;
}

.header-title {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.navBar {
  position: absolute;
  left: -100%;
  display: flex;
  flex-direction: column;
}

.navItem { 
  cursor: pointer;
  color: white;
  opacity: 0.6;
  transition: opacity .25s linear;
}

.navItem:hover {
  color: white;
  opacity: 1;
}

.main {
  grid-area: main;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 0.2rem;
}

.footer {
  grid-area: footer;
}

.hr-header-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366F2;
  opacity: 1;
}

.hr-footer-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 300px;
  border: 0;
  border-top: solid 2px;
  border-color: #3e3f97;
  opacity: 1;
}

.bg-color {
  background-color: #111828;
}

.text-color-1 {
  color: #8183ff;
}

@media (min-width: 991px) {

  .header-title {font-size: 2rem; }
  .grid-container {
    grid-template-areas:
      "header"
      "navBar"
      "main"
      "footer";
    grid-template-rows: auto 2rem 1fr 6rem;
  }  

  .navBar {
    grid-area: navBar;
    position: static;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
  }
} 

@media (min-width: 1400px) {
  .grid-container {
    grid-template-areas:
      "header header"
      "navBar main"
      "footer footer";
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1fr 6rem;
  }  

  .navBar {
    flex-direction: column;
    justify-content: flex-start;
  }  

  .navItem { 
    margin-top: 2rem;
    margin-left: 3rem;
  }

} 


