.item {
   background-color: #111828;
   border-radius: 1%;
   border: solid gray 1px;
   padding: 0;
}

.info {
   padding: 1.2rem;
}

.category {
   color: white;
   opacity: 0.4;
   margin-bottom: 0.2rem;
}

.name {
   color: white;
   margin-bottom: 0.5rem;
}

.description {
   color: white;
   opacity: 0.6;
   margin-bottom: 1rem;
}

.link {
   text-decoration: none;
   align-self: center;
   color: #8183ff;
}

.textGray {
   color: white;
   opacity: 0.6;
}
