@import "tailwindcss" source(none);
@source "./";
@source "./components";
@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6366F2;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6366F2;
}

html,
body {
  font-size: 16px;
  line-height: 1.6;
}
