@import '~antd/dist/antd.css';

/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* .main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
} */

.btn-primary {
  height: auto;
  font-size: 0.8rem;
  background-color: gray;
  border-color: gray;
  padding: 0.2rem 2rem;
}

.btn-primary:hover {
  background-color: rgb(109, 106, 106);
  border-color: rgb(109, 106, 106);
}

.alert-form {
  background-color: lightgray;
  border: solid gray 2px;
  border-radius: 2px;
  padding: 0.5rem;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
