.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr 6rem;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.hr-header-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366F2;
  opacity: 1;
}

.hr-footer-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 300px;
  border: 0;
  border-top: solid 2px;
  border-color: #3e3f97;
  opacity: 1;
}

.bg-color {
  background-color: #111828;
}

.text-color-1 {
  color: #8183ff;
}

