body {
  color: white;
  font-family: sans-serif;
}

/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
  position: relative;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

.display {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 40px;
  background-color: #5a564c;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 350ms;
}

.display:active {
  background-color: #000000;
}

.list-body {
  position: absolute;
  top: 45px;
  z-index: 1;
  box-sizing: border-box;
  width: 200px;
  padding: 0 20px;
  overflow: hidden;
  background-color: #9e8949;
  border-radius: 5px;
}

.list {
  padding: 0;
  list-style-type: none;
  z-index:
}

.list-item {
  padding: 5px 0;
}

.list-item--active {
  color: yellow;
  transition: color 1500ms;
}

/* This fires as soon as the element enters the dorm */
.list-transition-enter,
.list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  top: 0;
  width: 120px;
  max-height: 40px;
  color: transparent;
  background-color: #5a564c;
}
/* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
  top: 45px;
  width: 200px;
  max-height: 200px;
  background-color: #9e8949;
  transition: all 400ms;
}

/* This fires as soon as the showList is false */
.list-transition-exit {
  top: 45px;
  width: 200px;
  max-height: 200px;
  background-color: #9e8949;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: 0;
  width: 120px;
  max-height: 40px;
  color: transparent;
  background-color: #5a564c;
  transition: all 400ms;
}

