.header {
  text-align: center;
}

.headerTitle {
  font-size: 1.3rem;
  padding: 0;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.8rem;
  }
}

.headerSlogan {
  opacity: 0.6;
  padding: 0;
  margin: 0;
  line-height: 0.8;
}

.hrHeaderLine {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366f2;
  opacity: 1;
}

.iconWrap {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
}

.hideInMobile {
  display: none;
}

@media (min-width: 920px) {
  .iconWrap {
    right: 1rem;
    top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
  }

  .hideInMobile {
    display: block;
  }
}

.text{
  color: black;
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  font-weight: 800;
}

.left {
  width: 70%;
}

.right {
  position: relative;
  width: 35%;
  align-self: center;
  text-align: center;
}

.headerContentWrap{
  display: none;
}

.explainProduct {
  color: #222;
  font-size: 1.2rem;
  width: 80%;
  max-width: 400px;
  margin:auto;
  margin-top: -2rem;
  text-align: justify;
}

.buttonOrder {
  padding:0.8rem 2rem 0.8rem 2rem;
  border:none;
  background-color: #464646;
  transform-origin: left;
  color:#d2d2d2;
  font-size: 1rem;
  font-weight: 600;
  cursor:pointer;
}

.buttonOrder:hover {
  background-color: #666;
  transition: all 0.3s ease-in-out;
} 

@media (min-width: 920px) {
  .headerContentWrap{
    width: 100%;
    background-color: lightgray;
    height: 50vh;
    display: flex;
    justify-content: space-between;
  }
  
}
