.colorMode {
   cursor: pointer;
   display: none;
 }
 
 .cartText {
   font-size: 0.8rem;
   opacity: 0.6;
   margin-top: -4px;
 }


@media (min-width: 920px) {
  .colorMode {
    display: block;
  }
}
