[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
email-validator = "*"
bcrypt = "==4.0.1"
passlib = "==1.7.4"
alembic = "*"
python-jose = "*"
python-multipart = "*"
numpy = "==1.21.4"

[dev-packages]

[requires]
python_version = "3.10"
