.header {
   text-align: center;
 }
 
 .headerTitle {
   font-size: 1.3rem;
   padding: 0;
   padding-top: 1rem;
 }
 
 @media (min-width: 768px) {
   .headerTitle {
     font-size: 1.8rem;
   }
 }

 .iconWrap {
   position: absolute;
   right: 0.5rem;
   top: 2rem;
   display: grid;
   grid-template-columns: 4rem;
 }
 